<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link
      rel="icon"
      href="https://cdn-icons-png.flaticon.com/128/9375/9375367.png"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
</html>
