  <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/service.css" />
  </head>
  
  <body>
    <%- include('../includes/serviceNavbar.ejs') %>
        <div class="box">
          <div class="text">
            <h1>Earn More. Earn Respect. <br>Safety Ensured.</h1>
            <h3>Join 40,000+ partners across India, USA, Singapore,<br>UAE and many more.</h3>
          </div>
          <div class="image">
            <img src="https://urbanclap-prod.s3-ap-southeast-1.amazonaws.com/categories/category_v2/partner_hero_india_cover.png" alt="Placeholder Image">
          </div>
        </div>
        <main class="centered">
          <h2>Join LocalSkillz to change your life</h2>
         <h5>LocalSkillz is an website-based marketplace that empowers professionals like you to become your own boss.</h5>
           <div class="card__actions">
            <a href='/add-service' class="btn">Join Now By Adding Service</a>
            </div>
        </main>

  
 <%- include('../includes/end.ejs') %>
